In [44]:
import pandas as pd
import numpy as np

In [57]:
train=pd.read_csv(r'C:\Users\My PC\Desktop\Machine Learning\Hackerearth\AV\train.csv')
test=pd.read_csv(r'C:\Users\My PC\Desktop\Machine Learning\Hackerearth\AV\test.csv')
sub=pd.read_csv(r'C:\Users\My PC\Desktop\Machine Learning\Hackerearth\AV\sample.csv')

In [58]:
train.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [59]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
employee_id             54808 non-null int64
department              54808 non-null object
region                  54808 non-null object
education               52399 non-null object
gender                  54808 non-null object
recruitment_channel     54808 non-null object
no_of_trainings         54808 non-null int64
age                     54808 non-null int64
previous_year_rating    50684 non-null float64
length_of_service       54808 non-null int64
KPIs_met >80%           54808 non-null int64
awards_won?             54808 non-null int64
avg_training_score      54808 non-null int64
is_promoted             54808 non-null int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [60]:
train.is_promoted.value_counts()

0    50140
1     4668
Name: is_promoted, dtype: int64

In [70]:
train.isnull().sum()

employee_id                     0
gender                          0
recruitment_channel             0
no_of_trainings                 0
age                             0
previous_year_rating            0
length_of_service               0
KPIs_met >80%                   0
awards_won?                     0
avg_training_score              0
is_promoted                     0
department_Analytics            0
department_Finance              0
department_HR                   0
department_Legal                0
department_Operations           0
department_Procurement          0
department_R&D                  0
department_Sales & Marketing    0
department_Technology           0
department_nan                  0
region_region_1                 0
region_region_10                0
region_region_11                0
region_region_12                0
region_region_13                0
region_region_14                0
region_region_15                0
region_region_16                0
region_region_17                0
region_region_18                0
region_region_19                0
region_region_2                 0
region_region_20                0
region_region_21                0
region_region_22                0
region_region_23                0
region_region_24                0
region_region_25                0
region_region_26                0
region_region_27                0
region_region_28                0
region_region_29                0
region_region_3                 0
region_region_30                0
region_region_31                0
region_region_32                0
region_region_33                0
region_region_34                0
region_region_4                 0
region_region_5                 0
region_region_6                 0
region_region_7                 0
region_region_8                 0
region_region_9                 0
region_nan                      0
education_Bachelor's            0
education_Below Secondary       0
education_Master's & above      0
education_nan                   0
dtype: int64

In [62]:
train['previous_year_rating'].fillna(train['previous_year_rating'].median(), inplace=True)
test['previous_year_rating'].fillna(test['previous_year_rating'].median(), inplace=True)

In [63]:
# train.drop('region', axis=1, inplace=True)
# test.drop('region', axis=1, inplace=True)

In [64]:
train['gender'].loc[train['gender']=='f'] = 0
train['gender'].loc[train['gender']=='m'] = 1
test['gender'].loc[test['gender']=='f'] = 0
test['gender'].loc[test['gender']=='m'] = 1

In [65]:
train['recruitment_channel'].loc[train['recruitment_channel']=='sourcing'] = 0
train['recruitment_channel'].loc[train['recruitment_channel']=='other'] = 1
train['recruitment_channel'].loc[train['recruitment_channel']=='referred'] = 2
test['recruitment_channel'].loc[test['recruitment_channel']=='sourcing'] = 0
test['recruitment_channel'].loc[test['recruitment_channel']=='other'] = 1
test['recruitment_channel'].loc[test['recruitment_channel']=='referred'] = 2

In [66]:
train['previous_year_rating']=train.previous_year_rating.astype(int)
test['previous_year_rating']=test.previous_year_rating.astype(int)

In [69]:
train.head()

,employee_id,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,...,region_region_5,region_region_6,region_region_7,region_region_8,region_region_9,region_nan,education_Bachelor's,education_Below Secondary,education_Master's & above,education_nan
0,65438,0,0,1,35,5,8,1,0,49,...,0,0,1,0,0,0,0,0,1,0
1,65141,1,1,1,30,5,4,0,0,60,...,0,0,0,0,0,0,1,0,0,0
2,7513,1,0,1,34,3,7,0,0,50,...,0,0,0,0,0,0,1,0,0,0
3,2542,1,1,2,39,1,10,0,0,50,...,0,0,0,0,0,0,1,0,0,0
4,48945,1,1,1,45,3,2,0,0,73,...,0,0,0,0,0,0,1,0,0,0

In [68]:
train=pd.get_dummies(train, dummy_na=True)
test=pd.get_dummies(test, dummy_na=True)

In [71]:
train_data = train.drop('is_promoted', axis=1)
target = train['is_promoted']

train_data.shape, target.shape

((54808, 59), (54808,))

In [72]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

import numpy as np

In [73]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [74]:
clf = KNeighborsClassifier(n_neighbors = 13)
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.9171684  0.91461412 0.91516147 0.91881044 0.91534392 0.91169495
 0.90749863 0.91735085 0.91678832 0.91313869]

In [75]:
round(np.mean(score)*100, 2)

91.48

In [76]:
clf = RandomForestClassifier(n_estimators=13)
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.93796752 0.93249407 0.93267652 0.93468345 0.93158183 0.93194673
 0.9295749  0.93468345 0.93521898 0.9310219 ]

In [77]:

X_train = train_data
Y_train =target
X_test = test.copy()
X_train.shape, Y_train.shape, X_test.shape

((54808, 59), (54808,), (23490, 59))

In [78]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

100.0

In [79]:
Y_pred = Y_pred.tolist()
for i in range(len(Y_pred)):
    if Y_pred[i] == 1:
        Y_pred[i] = 1
    else:
        Y_pred[i] = 0
y_pred = np.array(Y_pred)

In [80]:
submission = pd.DataFrame({
        "employee_id": test["employee_id"],
        "is_promoted": Y_pred
    })
submission.to_csv(r'C:\Users\My PC\Desktop\Machine Learning\Hackerearth\AV\HR_submission.csv', index=False)