In [111]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [112]:
train=pd.read_csv(r'C:\Users\My PC\Music\jobathon\train.csv')
test=pd.read_csv(r'C:\Users\My PC\Music\jobathon\test.csv')
sample=pd.read_csv(r'C:\Users\My PC\Music\jobathon\sample.csv')

In [113]:
train.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0

In [114]:
sample.head()

      ID  Response
0  50883         0
1  50884         0
2  50885         0
3  50886         0
4  50887         0

In [115]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 14 columns):
ID                         50882 non-null int64
City_Code                  50882 non-null object
Region_Code                50882 non-null int64
Accomodation_Type          50882 non-null object
Reco_Insurance_Type        50882 non-null object
Upper_Age                  50882 non-null int64
Lower_Age                  50882 non-null int64
Is_Spouse                  50882 non-null object
Health Indicator           39191 non-null object
Holding_Policy_Duration    30631 non-null object
Holding_Policy_Type        30631 non-null float64
Reco_Policy_Cat            50882 non-null int64
Reco_Policy_Premium        50882 non-null float64
Response                   50882 non-null int64
dtypes: float64(2), int64(6), object(6)
memory usage: 5.4+ MB

In [116]:
train.isna().sum()

ID                             0
City_Code                      0
Region_Code                    0
Accomodation_Type              0
Reco_Insurance_Type            0
Upper_Age                      0
Lower_Age                      0
Is_Spouse                      0
Health Indicator           11691
Holding_Policy_Duration    20251
Holding_Policy_Type        20251
Reco_Policy_Cat                0
Reco_Policy_Premium            0
Response                       0
dtype: int64

In [117]:
test.isna().sum()

ID                            0
City_Code                     0
Region_Code                   0
Accomodation_Type             0
Reco_Insurance_Type           0
Upper_Age                     0
Lower_Age                     0
Is_Spouse                     0
Health Indicator           5027
Holding_Policy_Duration    8603
Holding_Policy_Type        8603
Reco_Policy_Cat               0
Reco_Policy_Premium           0
dtype: int64

In [118]:
train.dtypes

ID                           int64
City_Code                   object
Region_Code                  int64
Accomodation_Type           object
Reco_Insurance_Type         object
Upper_Age                    int64
Lower_Age                    int64
Is_Spouse                   object
Health Indicator            object
Holding_Policy_Duration     object
Holding_Policy_Type        float64
Reco_Policy_Cat              int64
Reco_Policy_Premium        float64
Response                     int64
dtype: object

In [119]:
train['Holding_Policy_Duration'].value_counts()

1.0     4499
14+     4335
2.0     4260
3.0     3586
4.0     2771
5.0     2362
6.0     1894
7.0     1645
8.0     1316
9.0     1114
10.0     813
11.0     546
12.0     513
13.0     511
14.0     466
Name: Holding_Policy_Duration, dtype: int64

2nd approach

In [123]:
train['Health Indicator'] = np.where(train['Health Indicator'].isnull(),"U",train['Health Indicator'])
train['Holding_Policy_Duration'] = np.where(train['Holding_Policy_Duration'].isnull(),"15+",train['Holding_Policy_Duration'])
train['Holding_Policy_Type'].fillna(train['Holding_Policy_Type'].median(), inplace=True)

In [131]:
test['Health Indicator'] = np.where(test['Health Indicator'].isnull(),"U",test['Health Indicator'])
test['Holding_Policy_Type'].fillna(test['Holding_Policy_Type'].median(), inplace=True)
test['Holding_Policy_Duration'] = np.where(test['Holding_Policy_Duration'].isnull(),"15+",test['Holding_Policy_Duration'])

In [126]:
train.head()

,ID,Region_Code,Upper_Age,Lower_Age,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response,City_Code_C1,City_Code_C10,...,Holding_Policy_Duration_15+,Holding_Policy_Duration_2.0,Holding_Policy_Duration_3.0,Holding_Policy_Duration_4.0,Holding_Policy_Duration_5.0,Holding_Policy_Duration_6.0,Holding_Policy_Duration_7.0,Holding_Policy_Duration_8.0,Holding_Policy_Duration_9.0,Holding_Policy_Duration_nan
0,1,3213,36,36,3.0,22,11628.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1117,75,22,3.0,22,30510.0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,3732,32,32,1.0,19,7450.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,4378,52,48,3.0,19,17780.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,2190,44,44,1.0,16,10404.0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [125]:
train=pd.get_dummies(train, dummy_na=True)

In [132]:
ID=test.ID
test=test.drop(['ID'],axis=1)
test.head()

,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium
0,C1,156,Owned,Individual,30,30,No,U,6.0,3.0,5,11934.0
1,C4,7,Owned,Joint,69,68,Yes,X1,3.0,3.0,18,32204.8
2,C1,564,Rented,Individual,28,28,No,X3,2.0,4.0,17,9240.0
3,C3,1177,Rented,Individual,23,23,No,X3,3.0,3.0,18,9086.0
4,C1,951,Owned,Individual,75,75,No,X3,15+,3.0,5,22534.0

In [133]:
test=pd.get_dummies(test, dummy_na=True)

In [134]:
test.head()

,Region_Code,Upper_Age,Lower_Age,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,City_Code_C1,City_Code_C10,City_Code_C11,City_Code_C12,...,Holding_Policy_Duration_15+,Holding_Policy_Duration_2.0,Holding_Policy_Duration_3.0,Holding_Policy_Duration_4.0,Holding_Policy_Duration_5.0,Holding_Policy_Duration_6.0,Holding_Policy_Duration_7.0,Holding_Policy_Duration_8.0,Holding_Policy_Duration_9.0,Holding_Policy_Duration_nan
0,156,30,30,3.0,5,11934.0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,7,69,68,3.0,18,32204.8,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,564,28,28,4.0,17,9240.0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1177,23,23,3.0,18,9086.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,951,75,75,3.0,5,22534.0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [127]:
from sklearn.model_selection import train_test_split
X=train.drop(['Response','ID'],axis=1)
Y=train.Response

In [158]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [129]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=27)

In [154]:
params = {'boosting_type': 'gbdt',
          'max_depth' : -1,
          'objective': 'binary',
          'nthread': 5,
          'num_leaves': 64,
          'learning_rate': 0.07,
          'max_bin': 512,
          'subsample_for_bin': 200,
          'subsample': 1,
          'subsample_freq': 1,
          'colsample_bytree': 0.8,
          'reg_alpha': 1.2,
          'reg_lambda': 1.2,
          'min_split_gain': 0.5,
          'min_child_weight': 1,
          'min_child_samples': 5,
          'scale_pos_weight': 1,
          'num_class' : 1,
          'metric' : 'binary_error'
          }

In [155]:
gridParams = {
    'learning_rate': [0.07],
    'n_estimators': [8,16],
    'num_leaves': [20, 24, 27],
    'boosting_type' : ['gbdt'],
    'objective' : ['binary'],
    'random_state' : [501], # Updated from 'seed'
    'colsample_bytree' : [0.64, 0.65],
    'subsample' : [0.7,0.75],
    #'reg_alpha' : [1, 1.2],
    #'reg_lambda' : [ 1.2, 1.4],
    }

In [156]:
mdl = lgb.LGBMClassifier(boosting_type= 'gbdt',
          objective = 'binary',
          n_jobs = 5, # Updated from 'nthread'
          silent = True,
          max_depth = params['max_depth'],
          max_bin = params['max_bin'],
          subsample_for_bin = params['subsample_for_bin'],
          subsample = params['subsample'],
          subsample_freq = params['subsample_freq'],
          min_split_gain = params['min_split_gain'],
          min_child_weight = params['min_child_weight'],
          min_child_samples = params['min_child_samples'],
          scale_pos_weight = params['scale_pos_weight'])

In [159]:
mdl.get_params().keys()

# Create the grid
grid = GridSearchCV(mdl, gridParams, verbose=2, cv=4, n_jobs=-1)

# Run the grid
grid.fit(X_train, y_train)

# Print the best parameters found
print(grid.best_params_)
print(grid.best_score_)

Fitting 4 folds for each of 24 candidates, totalling 96 fits
{'boosting_type': 'gbdt', 'colsample_bytree': 0.64, 'learning_rate': 0.07, 'n_estimators': 8, 'num_leaves': 20, 'objective': 'binary', 'random_state': 501, 'subsample': 0.7}
0.7610387570403975

In [160]:
# Using parameters already set above, replace in the best from the grid search
params['colsample_bytree'] = grid.best_params_['colsample_bytree']
params['learning_rate'] = grid.best_params_['learning_rate']
# params['max_bin'] = grid.best_params_['max_bin']
params['num_leaves'] = grid.best_params_['num_leaves']
#params['reg_alpha'] = grid.best_params_['reg_alpha']
#params['reg_lambda'] = grid.best_params_['reg_lambda']
params['subsample'] = grid.best_params_['subsample']
# params['subsample_for_bin'] = grid.best_params_['subsample_for_bin']

print('Fitting with params: ')
print(params)

Fitting with params:
{'boosting_type': 'gbdt', 'max_depth': -1, 'objective': 'binary', 'nthread': 5, 'num_leaves': 20, 'learning_rate': 0.07, 'max_bin': 512, 'subsample_for_bin': 200, 'subsample': 0.7, 'subsample_freq': 1, 'colsample_bytree': 0.64, 'reg_alpha': 1.2, 'reg_lambda': 1.2, 'min_split_gain': 0.5, 'min_child_weight': 1, 'min_child_samples': 5, 'scale_pos_weight': 1, 'num_class': 1, 'metric': 'binary_error'}

In [165]:
train_data=lgb.Dataset(X_train, label=y_train)

In [167]:
lgbm = lgb.train(params,
                 train_data,
                 280,
                 #early_stopping_rounds= 40,
                 verbose_eval= 4
                 )

In [169]:
predictions_lgbm_prob = lgbm.predict(X_test)

In [170]:
predictions_lgbm_prob

array([0.27022115, 0.25541506, 0.13191808, ..., 0.28808007, 0.29714657,
       0.14968714])

In [175]:
pred_lgbm_01 = np.where(predictions_lgbm_prob > 0.25, 1, 0)

In [176]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,pred_lgbm_01)

0.6030622023878529

In [178]:
# pred=lgbm.predict(test)
pred_lgb = np.where(pred > 0.25, 1, 0)

In [149]:
random_forest = DecisionTreeClassifier()
random_forest.fit(X_train, y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, y_train)

1.0

In [150]:
fpred2=random_forest.predict(test)

In [179]:
unique, counts = np.unique(pred_lgb, return_counts=True)
dict(zip(unique, counts))

{0: 11975, 1: 9830}

In [180]:
submission = pd.DataFrame({
        "ID": ID,
        "Response": fpred2
    })
submission.to_csv(r'C:\Users\My PC\Music\jobathon\submission2.csv', index=False)

1st

In [87]:
train['Health Indicator'] = np.where(train['Health Indicator'].isnull(),"U",train['Health Indicator'])
train['Holding_Policy_Type'] = np.where(train['Holding_Policy_Type'].isnull(),5.0,train['Holding_Policy_Type'])
train['Holding_Policy_Duration'] = np.where(train['Holding_Policy_Duration'].isnull(),"15+",train['Holding_Policy_Duration'])

In [88]:
test['Health Indicator'] = np.where(test['Health Indicator'].isnull(),"U",test['Health Indicator'])
test['Holding_Policy_Type'] = np.where(test['Holding_Policy_Type'].isnull(),5.0,test['Holding_Policy_Type'])
test['Holding_Policy_Duration'] = np.where(test['Holding_Policy_Duration'].isnull(),"15+",test['Holding_Policy_Duration'])

In [89]:
train.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,15+,5.0,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,U,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0

In [90]:
train.corr()

,ID,Region_Code,Upper_Age,Lower_Age,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
ID,1.000000,-0.000465,-0.001725,0.001101,0.002073,-0.002235,-0.002350,0.005159
Region_Code,-0.000465,1.000000,-0.005649,-0.005928,0.006901,-0.065120,-0.010797,0.001121
Upper_Age,-0.001725,-0.005649,1.000000,0.921392,-0.187927,0.025257,0.792689,0.002772
Lower_Age,0.001101,-0.005928,0.921392,1.000000,-0.172292,0.021163,0.615739,-0.002099
Holding_Policy_Type,0.002073,0.006901,-0.187927,-0.172292,1.000000,0.021410,-0.143245,0.002270
Reco_Policy_Cat,-0.002235,-0.065120,0.025257,0.021163,0.021410,1.000000,0.060989,0.114321
Reco_Policy_Premium,-0.002350,-0.010797,0.792689,0.615739,-0.143245,0.060989,1.000000,0.007943
Response,0.005159,0.001121,0.002772,-0.002099,0.002270,0.114321,0.007943,1.000000

In [91]:
train.dtypes

ID                           int64
City_Code                   object
Region_Code                  int64
Accomodation_Type           object
Reco_Insurance_Type         object
Upper_Age                    int64
Lower_Age                    int64
Is_Spouse                   object
Health Indicator            object
Holding_Policy_Duration     object
Holding_Policy_Type        float64
Reco_Policy_Cat              int64
Reco_Policy_Premium        float64
Response                     int64
dtype: object

In [92]:
test["City_Code"] = test["City_Code"].astype('category')
test["Accomodation_Type"] = test["Accomodation_Type"].astype('category')
test["Reco_Insurance_Type"] = test["Reco_Insurance_Type"].astype('category')
test["Is_Spouse"] = test["Is_Spouse"].astype('category')
test["Health Indicator"] = test["Health Indicator"].astype('category')
test["Holding_Policy_Duration"] = test["Holding_Policy_Duration"].astype('category')
test["City_Code"] = test["City_Code"].cat.codes
test["Accomodation_Type"] = test["Accomodation_Type"].cat.codes
test["Reco_Insurance_Type"] = test["Reco_Insurance_Type"].cat.codes
test["Is_Spouse"] = test["Is_Spouse"].cat.codes
test["Health Indicator"] = test["Health Indicator"].cat.codes
test["Holding_Policy_Duration"] = test["Holding_Policy_Duration"].cat.codes
test.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium
0,50883,0,156,0,0,30,30,0,0,12,3.0,5,11934.0
1,50884,30,7,0,1,69,68,1,1,9,3.0,18,32204.8
2,50885,0,564,1,0,28,28,0,3,8,4.0,17,9240.0
3,50886,22,1177,1,0,23,23,0,3,9,3.0,18,9086.0
4,50887,0,951,0,0,75,75,0,3,7,5.0,5,22534.0

In [93]:
# test.City_Code.value_counts()

In [94]:
train["City_Code"] = train["City_Code"].astype('category')
train["Accomodation_Type"] = train["Accomodation_Type"].astype('category')
train["Reco_Insurance_Type"] = train["Reco_Insurance_Type"].astype('category')
train["Is_Spouse"] = train["Is_Spouse"].astype('category')
train["Health Indicator"] = train["Health Indicator"].astype('category')
train["Holding_Policy_Duration"] = train["Holding_Policy_Duration"].astype('category')
train["City_Code"] = train["City_Code"].cat.codes
train["Accomodation_Type"] = train["Accomodation_Type"].cat.codes
train["Reco_Insurance_Type"] = train["Reco_Insurance_Type"].cat.codes
train["Is_Spouse"] = train["Is_Spouse"].cat.codes
train["Health Indicator"] = train["Health Indicator"].cat.codes
train["Holding_Policy_Duration"] = train["Holding_Policy_Duration"].cat.codes
train.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,22,3213,1,0,36,36,0,1,5,3.0,22,11628.0,0
1,2,31,1117,0,1,75,22,0,2,7,5.0,22,30510.0,0
2,3,31,3732,0,0,32,32,0,0,0,1.0,19,7450.0,1
3,4,16,4378,0,1,52,48,0,1,5,3.0,19,17780.0,0
4,5,34,2190,1,0,44,44,0,2,9,1.0,16,10404.0,0

In [95]:
train.dtypes

ID                           int64
City_Code                     int8
Region_Code                  int64
Accomodation_Type             int8
Reco_Insurance_Type           int8
Upper_Age                    int64
Lower_Age                    int64
Is_Spouse                     int8
Health Indicator              int8
Holding_Policy_Duration       int8
Holding_Policy_Type        float64
Reco_Policy_Cat              int64
Reco_Policy_Premium        float64
Response                     int64
dtype: object

In [96]:
test.dtypes

ID                           int64
City_Code                     int8
Region_Code                  int64
Accomodation_Type             int8
Reco_Insurance_Type           int8
Upper_Age                    int64
Lower_Age                    int64
Is_Spouse                     int8
Health Indicator              int8
Holding_Policy_Duration       int8
Holding_Policy_Type        float64
Reco_Policy_Cat              int64
Reco_Policy_Premium        float64
dtype: object

In [97]:
from sklearn.model_selection import train_test_split
X=train.drop(['Response','ID'],axis=1)
Y=train.Response

In [98]:
ID=test.ID
test=test.drop(['ID'],axis=1)
test.head()

,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium
0,0,156,0,0,30,30,0,0,12,3.0,5,11934.0
1,30,7,0,1,69,68,1,1,9,3.0,18,32204.8
2,0,564,1,0,28,28,0,3,8,4.0,17,9240.0
3,22,1177,1,0,23,23,0,3,9,3.0,18,9086.0
4,0,951,0,0,75,75,0,3,7,5.0,5,22534.0

In [99]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [100]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=27)

In [106]:
random_forest = DecisionTreeClassifier()
random_forest.fit(X_train, y_train)
Y_pred = random_forest.predict(X_test)
# random_forest.score(X_train, y_train)

In [107]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,Y_pred)

0.5488457075805978

In [108]:
fpred=random_forest.predict(test)

In [109]:
unique, counts = np.unique(fpred, return_counts=True)
dict(zip(unique, counts))

{0: 16251, 1: 5554}

In [110]:
submission = pd.DataFrame({
        "ID": ID,
        "Response": fpred
    })
submission.to_csv(r'C:\Users\My PC\Music\jobathon\submission.csv', index=False)